{% extends "base.html.twig" %}

{% block javascripts %}
{{ parent() }}
    <script type="application/javascript" src="{{ asset("assets/vendor/club.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page bg-white animsition">
            <div class="page-header">
                {% if app.request.attributes.get('id') is not empty %}
                    {% set title = 'Editar' %}
                {%endif%}
                <h1 class="page-title">{{ title|default('Nuevo') }} Jugador</h1>
            </div>
            <div class="page-content">
                {{ form_start(form) }}
                <div class="form-group">
                    <div class="col-md-12">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.phone) }}
                    </div>

                    <div class="col-md-6">
                        <h3>Jugadores</h3>
                        <ul class="players"  data-prototype="{{ form_widget(form.players.vars.prototype)|e('html_attr') }}>
                            {# iterate over each existing tag and render its only field: name #}
                            {% for player in form.players %}
                                <li>{{ form_row(player.name) }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="form-actions col-md-12 text-right margin-top-25">
                            <a class="btn btn-danger form-cancel-edit" href="{{ path('laliga_players') }}">Cancelar</a>
                            <button type="submit" name="submit_player" class="btn btn-success btn"><i class="hide fa fa-spinner fa-spin"></i><span>Guardar</span></button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}